.noSpinner input[type="number"]::-webkit-inner-spin-button,
.noSpinner input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.noSpinner input[type="number"] {
  -moz-appearance: textfield;
}

.noSpinnerInput::-webkit-inner-spin-button,
.noSpinnerInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.noSpinnerInput[type="number"] {
  -moz-appearance: textfield;
}
